
.page-header {

    text-align: center;

}

#mensajeinput {
    height: 230px;

}

#tituloContacto {
    text-align: center;
    padding-bottom: 25px;
}


  

#infoContacto {
    text-align: left;
}

button {
    background-color: gray;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



#mascotas1 {
    width: auto;
    height: auto;
}


.footer {
    background-image: radial-gradient(#88a4c4 50%, #bad8da);
    padding: 10px;
    text-align: center;
    color: white;
}

.container.form-container {
    display: flex;
    flex-wrap: wrap;
  }
